



@tailwind base;
@tailwind components;
@tailwind utilities;


.h-200px{
    height: 200px;;
}

.w-200px{
    width: 200px;
}

.about-grid-cols{
    grid-template-columns: 200px 1fr;
}



@media (min-width: 1024px) {
    .feature-arrow-left-width {
        
            width: 150px;
        }
    
}

@media (min-width: 1280px) {
    .feature-arrow-left-width {
        
            width: 250px;
        }
    
}

.purple-highlight::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    z-index: 10;
    height: 21px;
    --tw-bg-opacity: 1;
    background-color: rgba(94, 92, 194, var(--tw-bg-opacity));
}

.blue-highlight::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    z-index: 10;
    height: 21px;
    --tw-bg-opacity: 1;
    background-color: #4DE8E8;
}